.Meaning h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.Meaning .description {
    margin-top: 15px;
}

.Meaning .definition .explanation {
    font-size: 13px;
    padding-left: 20px;
    margin-bottom: 0;
}

.Meaning .definition .example {
    font-size: 11px;
    color: #87A7B3;
    font-style: italic;
    padding-left: 20px;
}