.Synonyms ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
    font-size: 11px;
    font-style: italic;
}

.Synonyms li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid #87A7B3;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 0 5px 5px 0;
    color: #87A7B3;
}